.ins-c-compliance__scope {
    .pf-c-card.ins-error-card div {
        text-align: center;
    }

    .ins-c-policy-card {
        font-size: var(--pf-v6-global--FontSize--lg);
    }

    .ins-c-policy-card.ins-m-compliant,
    .ins-c-policy-card.ins-m-noncompliant {
      font-size: var(--pf-v6-global--FontSize--sm);
      font-weight: bold;
    }

    .ins-c-policy-card.ins-m-compliant {
        color: var(--pf-t--global--icon--color--status--success--default);
    }

    .ins-c-policy-card.ins-m-noncompliant {
        color: var(--pf-t--global--color--status--danger--default);
    }

    .ins-c-compliance-system-rule-check {
        color: var(--pf-t--global--icon--color--status--success--default)
    }
}
