version: '3'
services:
    frontend:
        env_file: .env
        build: .
        image: compliance-frontend_frontend
        network_mode: host
        # Use ports instead of host network mode when on Docker for Mac or in a VM
        #ports:
        #  - 1337:1337
        volumes:
            - .:/compliance:z
            - /compliance/node_modules/
