.iop-compliance-page.pf-v6-c-page {
  --pf-v6-c-page--BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --pf-v6-c-page--inset: 0;
  --pf-v6-c-page__main-container--MarginInlineStart: 0;
  --pf-v6-c-page__main-container--MarginInlineEnd: 0;
  --pf-v6-c-page__main-container--MarginBlockStart: 0;
  --pf-v6-c-page__main-container--BorderRadius: 0;
  --pf-v6-c-page__main-container--MaxHeight: none;
}
