.threshold-tooltip {
    margin-bottom: var(--pf-v5-global--spacer--md);
}

.grey-icon {
    color: var(--pf-v5-global--Color--200);
}

.policy-details{
    padding-top: 10px;
}

.report-details-button {
  text-align: right;
}
