// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components/index.css";
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components-inventory-compliance/index.css";


.pf-c-page__main .pf-c-page-header.pf-c-page__main-section {
  &.stable-page-header {
      padding-bottom: 0px;
  }

  &.beta-page-header {
      padding-bottom: 0px;
  }
}
.pf-l-tabs, .pf-c-tabs {
    padding-top: 22px;
}

.upload-instructions {
    background: white
}

.policy-details-button {
    display: flex;
    justify-content: right;
}

.chart-inline tspan {
  font-family: inherit !important;
}

.grey-icon {
  color: var(--pf-global--Color--200);
}
