// Importing Global Variables
@import '~@red-hat-insights/insights-frontend-components/Utilities/_all';
@import '~@red-hat-insights/insights-frontend-components/index.css';

section.pf-l-page-header.pf-l-page__main-section.pf-m-light {
    padding-bottom: 0px;
}
